

<head>
	{% load static %}
    <script async="" src="{% static 'analytics.js' %}"></script><script src="{% static 'Chart.min.js' %}"></script>
    <script src="{% static 'utils.js' %}"></script>
    
</head>
<body> 
  <header class="bg-green-600 text-gray-700 body-font">
    <div class="  container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-green-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">CodeForCure</span>
      </a>
      <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-gray-900" href="{% url 'analytics' %}">Analytics</a>
        <a class="mr-5 hover:text-gray-900" href="policies.php" >Government Policies</a>

         <form action="" style="padding-top:20px">
      <input type="text" placeholder="Search.." name="search" id="search" value="{{search_term}}">
</form>
        </nav>
     <!-- <button class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0">Button
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button>-->
    </div>
  </header>
  
    <div style="width:70%;height:40%;">
    <canvas id="chart"  ></canvas>
    <script> 
        var ctx = document.getElementById("chart").getContext("2d");
        var chart = new Chart(ctx,{
            type : 'line',
            data : {
			labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
			datasets: [{
				type : 'line',
				label: 'Potato',
				borderColor: window.chartColors.red,
				backgroundColor: window.chartColors.red,
				fill: false,
				data: [
			3,6,8,10,34,45,34,23
				],
			}, {
				type : 'line',
				label: 'Carrot',
				borderColor: window.chartColors.blue,
				backgroundColor: window.chartColors.blue,
				stack : "Stack 0",
				fill: false,
				data: [
				34,54,23,34,35,34,98
				],
			},{
				type : 'line',
				label: 'Onion',
				borderColor: window.chartColors.yellow,
				backgroundColor: window.chartColors.yellow,
				stack : "Stack 0",
				fill: false,
				data: [
			22,34,45,34,26
				],
			}
			]
		},
            options: {
					responsive: true,
					title: {
						display: true,
						text: 'Price v/s Months'
					},
					tooltips:{
						mode: "index",
						intersect: true
					},
					scales: {
						xAxes: [{
							stacked: true,
						}
						]
					}
				}
        })
    </script>
        </div>

</body> 
</html> 
