{% extends "header.html" %}
{% block content%}

<head>
	{% load static %}
    <script async="" src="{% static 'analytics.js' %}"></script><script src="{% static 'Chart.min.js' %}"></script>
    <script src="{% static 'utils.js' %}"></script>
    
</head>
<body> 
    <div style="width:70%;height:40%;">
    <canvas id="chart"  ></canvas>
    <script> 
        var ctx = document.getElementById("chart").getContext("2d");
        var chart = new Chart(ctx,{
            type : 'line',
            data : {
			labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
			datasets: [{
				type : 'line',
				label: 'Potato',
				borderColor: window.chartColors.red,
				backgroundColor: window.chartColors.red,
				fill: false,
				data: [
			3,6,8,10,34,45,34,23
				],
			}, {
				type : 'line',
				label: 'Carrot',
				borderColor: window.chartColors.blue,
				backgroundColor: window.chartColors.blue,
				stack : "Stack 0",
				fill: false,
				data: [
				34,54,23,34,35,34,98
				],
			},{
				type : 'line',
				label: 'Onion',
				borderColor: window.chartColors.yellow,
				backgroundColor: window.chartColors.yellow,
				stack : "Stack 0",
				fill: false,
				data: [
			22,34,45,34,26
				],
			}
			]
		},
            options: {
					responsive: true,
					title: {
						display: true,
						text: 'Price v/s Months'
					},
					tooltips:{
						mode: "index",
						intersect: true
					},
					scales: {
						xAxes: [{
							stacked: true,
						}
						]
					}
				}
        })
    </script>
        </div>

</body> 
</html> 
{% endblock content %}