{% extends "header.html" %}
<!DOCTYPE html> 
<head>
	{% load static %}
    <script async="" src="{% static 'analytics.js' %}"></script><script src="{% static 'Chart.min.js' %}"></script>
    <script src="{% static 'utils.js' %}"></script>
    
</head>
<body> 
    <div style="width:50%;height:50%;">
    <canvas id="chart"  ></canvas>
    <script> 
        var ctx = document.getElementById("chart").getContext("2d");
        var chart = new Chart(ctx,{
            type : 'line',
            data : {
			labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
			datasets: [{
				label: 'Potato',
				borderColor: window.chartColors.red,
				backgroundColor: window.chartColors.red,
				fill: false,
				data: [
			3,6,8,10,34,45,34,23
				],
				yAxisID: 'y-axis-1',
			}, {
				label: 'Carrot',
				borderColor: window.chartColors.blue,
				backgroundColor: window.chartColors.blue,
				fill: false,
				data: [
				34,54,23,34,35,34,98
				],
				yAxisID: 'y-axis-2'
			},{
				label: 'Brinjal',
				borderColor: window.chartColors.red,
				backgroundColor: window.chartColors.red,
				fill: false,
				data: [
			22,34,45,34,26
				],
				yAxisID: 'y-axis-3',
			}
			]
		},
            options: {
					responsive: true,
					hoverMode: 'index',
					stacked: false,
					title: {
						display: true,
						text: 'Price'
					},
					scales: {
						yAxes: [{
							type: 'linear', 
							display: true,
							position: 'left',
							id: 'y-axis-1',
						}, {
							type: 'linear', 
							display: true,
							position: 'right',
							id: 'y-axis-2',

							gridLines: {
								drawOnChartArea: false,
							},
							{
							type: 'linear', 
							display: true,
							position: 'right',
							id: 'y-axis-3',

							gridLines: {
								drawOnChartArea: false,
							},
						}],
					}
				}
        })
        //var data = "{{data|safe}}"; 
        //console.log(data);
    </script>
        </div>

</body> 
</html> 